{{/*   {{ partial "components/c-contact-form.html" . }}   
formFieldsSplit  - range items
formFields - range items for full width
formTextareas - for textarea inputs

*/}}


<form id="{{ .Params.formId }}" class="c-contact-form needs-validation toggle-content is-visible" novalidate>
  {{if .Params.formFieldsSplit }}
  <div class="c-contact-form__row">
    {{ range .Params.formFieldsSplit }}
    <div class="c-contact-form__col">
      <div class="c-contact-form__group">
        <input id="{{- .id -}}" name="{{- .name -}}" type="{{- .type -}}" class="form-control"
          placeholder="{{- .placeholder -}}" aria-label="{{- .placeholder -}}" {{with .minlength }}
          minlength="{{- . -}}" {{ end }} {{ if .required }} required {{ end }}>
        {{ with .invalidFeedback }}
        <div class="invalid-feedback">
          {{- . -}}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ range .Params.formFields }}
  <div class="c-contact-form__group">
    <input id="{{- .id -}}" name="{{- .name -}}" type="{{- .type -}}" class="form-control"
      placeholder="{{- .placeholder -}}" aria-label="{{- .placeholder -}}" {{with .minlength }}
      minlength="{{- . -}}" {{ end }} {{ if .required }} required {{ end }}>
    {{ with .invalidFeedback }}
    <div class="invalid-feedback">
      {{- . -}}
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ range .Params.formTextareas}}
  <div class="c-contact-form__group">
    <textarea id="{{- .id -}}" name="{{- .name -}}" class="form-control" placeholder="{{- .placeholder -}}"
      rows="{{- .rows -}}" aria-label="{{ .placeholder }}" {{with .minlength }} minlength="{{ . }}" {{ end }} 
      {{ if .required }} required {{ end }}></textarea>
    {{ with .invalidFeedback }}
    <div class="invalid-feedback">
      {{ . }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="c-contact-form__group">
    <button class="btn btn-outline-primary btn-lrg mt-3" id='js-submit' disabled>Send</button>
    <noscript>Please enable javascript to use the contact form</noscript>
  </div>

</form>
<div id="js-successMessage" class="toggle-content-fade alert alert-success" role="alert">Thank you for your message, we will be in touch with you shortly.</div>
<div id="js-errorMessage" class="toggle-content-fade alert alert-danger" role="alert">Form currently unavailabe, please try later.</div>