
<div class="c-social-links">
  {{ with $.Site.Params.twitterURL}}
  <button href="{{ . }}" class="c-social-links__btn-svg" target="_BLANK">
    {{ partial "scripts/svg-inline.html" $.Site.Params.twitterIcon }}  
  </button>
  {{ end }}
  {{ with $.Site.Params.facebookURL}}
  <button href="{{ . }}" class="c-social-links__btn-svg" target="_BLANK">
    {{ partial "scripts/svg-inline.html" "icons/bootstrap/facebook.svg" }}  
  </button>
  {{ end }}
  {{ with $.Site.Params.linkedInURL}}
  <button href="{{ . }}" class="c-social-links__btn-svg" target="_BLANK">
    <svg>
      <use href="{{ $.Site.Params.linkedInIcon }}" />
    </svg>
  </button>
  {{ end }}
  {{ with $.Site.Params.instagramURL}}
  <button href="{{ . }}" class="c-social-links__btn-svg" target="_BLANK">
    <svg>
      <use href="{{ $.Site.Params.instagramIcon }}" />
    </svg>
  </button>
  {{ end }}
  {{ with $.Site.Params.googleBizURL}}
  <button href="{{ . }}" class="c-social-links__btn-svg" target="_BLANK">
    <svg>
      <use href="{{ $.Site.Params.googleBizIcon }}" />
    </svg>
  </button>
  {{ end }}
</div>
