{{/* 
{{ partial "components/c-social-links2-simple.html" (dict "class" "me-2 mb-2 text-primary" "size" "16px" "id" "unique") }}
*/}}
{{/* used site instead of $.Site inside with as $ not available from within nested partial unless passed explicitly */}}
{{ $seed := "foo" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $id := .id | default $random }}
<style>
.{{ $id }} svg {
height: {{ .size | default "16px" }};
width: {{ .size | default "16px" }};
fill: currentColor;
}
</style>



<div class="">
  {{ $class := .class }}

  {{ range site.Params.socialLinks}}
    {{ if not .draft}}
    <a role="button" href="{{ .url }}" class="{{ $class }} d-inline-block" target="_blank" rel="noopener">
      <div class="{{ $id }}"> 
     
    
      {{ partial "scripts/svg-inline.html" .iconSimple }}  
    </div>
    </a>

    {{ end }}
  {{ end }}
</div>
