// instructions
// o-svg o-svg--[bs color] o-svg--[sm/lg]

//SIZE FOR o-svg
$svg-icon-size-sm: $svg-btn-icon-size-sm !default;  
$svg-icon-size: $svg-btn-icon-size !default;  
$svg-icon-size-lg: $svg-btn-icon-size-lg !default;  

//display SVG on its own
@mixin svg-size($size) {
  svg { 
  height: $size;
  width: $size;  
  } 
}

@mixin svg-variant(
  $color,
) {
  fill: $color;
  color: $color;
}

.o-svg {
   // set size with o-svg--$spacer (custom bs utility)
  //fill: $primary;
  color: inherit;  //color is inherited unless set with o-svg--$color
  //display: block;
  background: transparent;
  @extend .d-inline-flex;
  margin: $btn-padding-y $btn-padding-x;
  svg {
    height: $svg-icon-size; 
    width: $svg-icon-size; //DEFAULT ONLY
    fill: currentColor;  //inherits from o-svg
  }
  &--sm {
    @include svg-size($svg-icon-size-sm);
  }
  &--lg {
    @include svg-size($svg-icon-size-lg);
  }
  &--no-margin {
    margin: 0;
  }
}


@each $color, $value in $theme-colors {
  .o-svg--#{$color} {
    @include svg-variant($value);
  }
}

