<!-- facebook open graph-->
{{ template "_internal/opengraph.html" . }}
<meta property="og:locale" content="{{ site.Language.Lang }}">
{{ with .Site.Params.facebookPublisher }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">{{ end }}
{{ with .Site.Params.facebookAuthor }}
<meta property="article:author" content="https://www.facebook.com/{{ . }}">{{ end }}
<!-- twitter card -->
{{ template "_internal/twitter_cards.html" . }}
{{ with .Site.Params.twitterSite }}
<meta name="twitter:site" content="{{ . }}">{{ end }}
{{ with .Site.Params.twitterCreator }}
<meta name="twitter:creator" content="{{ . }}">{{ end }}
<meta name="twitter:url" content="{{ .Permalink }}">
