{{/* 
SITE PARAMS
params:
  description: Text about my cool site
  images:
  - site-feature-image.jpg
  title: My cool site
  facebookAppId: # for facebook insights
  twitterSite
taxonomies:
  series: series

SITE CONFIG - ALTERNATE LANGUAGES
defaultContentLanguage: en
languages:
  es:
    title: titulo
    weight: 2
    languageCode: es-ES
  en:
    title: My blog
    weight: 1
    languageCode: en-AU

PAGE PARAMS
audio: []
date: "2006-01-02"
description: Text about this post
images:
- post-cover.png
series: []  # for fb see also links
tags: []
title: Post title
videos: []
twitterCreator: # if different from the site
  */}}

<!-- facebook open graph-->
{{ template "_internal/opengraph.html" . }}
{{ with .Site.LanguageCode }}
<meta property="og:locale" content="{{ . }}">
{{ end }}
{{ if .IsTranslated }}
	{{ range .Translations }} 
  {{/*  checks user configured language code for each lanauge */}}
  {{ with .Site.LanguageCode }}
	  <meta property="og:locale:alternate" content="{{ . }}">
  {{ end }}
	{{ end }}
{{ end }}
<!-- twitter card -->
{{ template "_internal/twitter_cards.html" . }}
{{ with .Site.Params.twitterSite }}
<meta name="twitter:site" content="{{ . }}" />
{{ end }}
{{ with .Params.twitterCreator }}
<meta name="twitter:creator" content="{{ . }}" />
{{ end }}
<meta name="twitter:url" content="{{ .Permalink }}">
