  <!-- need to configure critical css for above fold -->

{{ $optionsToCSS := (dict "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "node_modules")) }}
{{ $devOptionsToCSS := (dict "outputStyle" "expanded" "enableSourceMap" true "includePaths" (slice "node_modules")) }}


{{ $optionsPostCSS := (dict "config" "config/postcss.config.js") }}

{{ $mainScss := resources.Get "scss/index.scss" }}
{{ $vendorScss := resources.Get "scss/vendors.scss" }}

{{ $mainCss := $mainScss | resources.ToCSS $optionsToCSS | resources.PostCSS $optionsPostCSS | resources.Fingerprint "md5" }}
{{ if .Site.IsServer }}
{{ $mainCss = $mainScss | resources.ToCSS $devOptionsToCSS | resources.Fingerprint }}
{{ end }}
<link rel="stylesheet" href="{{ $mainCss.RelPermalink }}" integrity="{{ $mainCss.Data.Integrity }}" >

{{ $vendorCss := $vendorScss | resources.ToCSS $optionsToCSS | resources.PostCSS $optionsPostCSS | resources.Fingerprint "md5" }}
{{ if .Site.IsServer }}
{{ $vendorCss = $vendorScss | resources.ToCSS $devOptionsToCSS | resources.Fingerprint }}
{{ end }}
<link rel="stylesheet" href="{{ $vendorCss.RelPermalink }}" integrity="{{ $vendorCss.Data.Integrity }}" >