
    <a href="https://twitter.com/{{- .Site.Social.twitter -}}?ref_src=twsrc%5Etfw" 
    class="twitter-follow-button" 
    {{ with .Site.Params.twitterFollow.largeButton }}
    data-size="large" {{ end }}
    data-show-screen-name="false" 
    data-lang="{{ substr .Site.LanguageCode 0 2 }}" 
    data-show-count="false">Follow @{{- .Site.Social.twitterName -}}</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



    {{/*
      {{ partial "embed/c-twitter-button.html" . }} 
 ## config.yml
social:
  twitter: elonmusk
  twitterName: Elon Musk
##ADD TO SITE.PARAMS 
##TWITTER EMBEDS 
##SEE https://publish.twitter.com/#

#twitter-feed partial
twitterFeed:
  dark: false # enable dark theme (FALSE)
  height: "800" #(NULL)
  width: "" #(NULL)
#twitter follow button options
twitterFollow:
  largeButton: true #large button (FALSE)
  
  
  */}}