

{{ $jsOpts := (dict  "sourceMap" "inline") }}
{{ $babelOpts := dict "config" "config/babel.config.js" "noComments" true "minified" true "compact" true }}

{{ $main := resources.Get "js/index.js" | js.Build $jsOpts | babel $babelOpts }}
{{ if .Site.IsServer }}
{{ $main = resources.Get "js/index.js" | js.Build }}
{{ end }}
<script type="text/javascript" src="{{ $main.RelPermalink }}" defer></script>

{{ $vendors := resources.Get "js/vendors.js" | js.Build $jsOpts | babel $babelOpts }}
{{ if .Site.IsServer }}
{{ $vendors = resources.Get "js/vendors.js" | js.Build }}
{{ end }}
<script type="text/javascript" src="{{ $vendors.RelPermalink }}" defer></script>  }}