{{/* RESIZE RESOURCE IMAGES, THEN CREATE SRCSET TAGS. ENABLE LAZY LOADING NATIVE/JS AND NOSCRIPT SUPPORT */}}
{{/* USE {{ partial "image/srcset.html" (dict "page" . "image" "image_name")}}  - folder and file extension not required
{{<srcset image="spf13">}} - folder or extension not required

*/}}
{{/* .md file must have resources set up including 
resources:
  - src: ""  # (e.g. images/testimonials*), 
    title: "" # (used for alt text), 
    # name: "" #(optional override, defaults to file name), 
    params: 
      # class: " " #(optional)
      # eager: true# (for above the fold)
      # figure: true #(Add title below image)
      # -------- (for full size images, excluding xl and xxl fluid - max container-xl)
      # widthCols: true # (for all columns)   
      # widthThumbs: true #(for thumbnail and 6 col layer)
      */}}

{{ $image := .page.Resources.GetMatch (printf "**%s**" .image ) }}

{{ $imageSize := imageConfig ($image.RelPermalink | printf "content/%s" ) }}
{{ $lqip := $image.Resize "20x" -}}
{{ $lqipConfig := imageConfig ($image.RelPermalink | printf "content/%s" ) }}

<!-- variables used for img tag -->
{{ $imgSrc := "" }}
{{ $imgSrcSet := slice }}
{{ $widths := ""}}

{{ if $image.Params.widthCols }}
  {{ $widths = site.Params.photoWidthCols }}
{{ else if $image.Params.widthThumbs }}
  {{ $widths = site.Params.photoWidthThumbs }}
{{ else }}
  {{ $widths = site.Params.photoWidthFull }}
{{ end }}

<!--
  Add URL for each width to $imgSrcSet variable
  format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
  Note: the first URL is used as "fallback" src in $imgSrc.
-->
{{ range $widths }}
  {{ $srcUrl := (printf "%dx" . | $image.Resize).RelPermalink }}
  {{ if eq $imgSrc "" }}
    {{ $imgSrc = $srcUrl }}
  {{ end }}
  {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
{{ end }}
{{ $imgSrcSet = (delimit $imgSrcSet ",") }}

{{/*  OUTPUT HTML  */}}
{{- if $image.Params.figure -}}
  <figure class="figure">
{{- end -}}
{{ if eq $image.MediaType.SubType "svg" }}
    <img alt="{{ $image.Title }}" 
      class="img-fluid {{ $image.Params.class }}" 
      src="{{ $image.RelPermalink }}" />
{{ else }}
  {{ if $image.Params.eager }} 
    <img alt="{{- $image.Title -}}" 
      class="lazyload {{ $image.Params.class }}" 
      data-sizes="auto"
      srcset="{{- $imgSrcSet -}}"
      src="{{- $image.RelPermalink -}}"
      loading="eager" />
  {{ else -}}
    <img alt="{{- $image.Title -}}" 
      class="lazyload {{ $image.Params.class }}" 
      data-sizes="auto"
      data-srcset="{{- $imgSrcSet -}}"
      src="{{- $image.RelPermalink -}}"
      srcset="data:image/gif;base64,{{- $lqip.Content | base64Encode -}}"  />
  {{ end }}
  <noscript>
    <img alt="{{- $image.Title -}}" 
    class="img-fluid {{ $image.Params.class }}" 
    src="{{- $image.RelPermalink -}}" />
  </noscript>
{{ end }}
{{ if $image.Params.figure -}}
<figcaption class="figure-caption">{{ $image.Title }}</figcaption>
</figure>
{{ end }}

