//Hover Mask
@import "u-mask";

//Shadow Hover
@import "u-shadow-hover";



.u-transition {
  @include transition(0.3s);
}


//no text decoration on lines - inherits from standard text inside the div or higher
%u-link-no-decoration {
  color: inherit;
  text-decoration: none;
}
.u-link-no-decoration {
  color: inherit;
  text-decoration: none;
}






